__pycache__
*.pyc
*.pyo
*.pyd
.Python

.env
.env.*
!.env.example
lxdash.db
lxdash.db-journal
data/

.git
.gitignore
.dockerignore

.pytest_cache
.ruff_cache
.mypy_cache

migrations/versions/__pycache__